html, body{
  margin: 0;
  padding: 0;
  color: #000;
}

body{
  background: #008899;
}

.quote-display{
  margin: 10% 20% 0 20%;
  text-align: center;
}

.quote-bubble{
  border: 2px solid #fff;
  margin-bottom: 50px;
}

.quote-body{
  font-size: 24px;
  text-justify: inter-word;
  padding: 50px;
}
.quote-author{
  margin-right: 10%;
  text-align: right;
}

.button-generate-quote{
}

.button-generate-quote > p{
  line-height: 30px;
}

